<!DOCTYPE html>
<html lang="en">
    <head>
        <title>0xCAFEBEEF?</title>
        <meta charset=utf-8 />
        <link href="/css/reset.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Dosis|Concert+One|Pontano+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="/css/blog.css" />
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.timeago.js"></script>
        <script type="text/javascript" src="/js/blog.js"></script>
    </head>
    <body>
        <div id = "title">
            <header>
            <h1>0xCAFEBEEF?</h1>
            </header>
        </div>
        <%= yield %>
    </body>
</html>


